{{ form_start(form, {'attr': {'id': 'address'}}) }}
{{ form_errors(form) }}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>{{ formtitle }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.country, {'attr' : {'class' : 'country'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6 spinner-wrapper">
            {{ form_row(form.city, {'attr' : {'class' : 'city country-data'}}) }}
        </div>
        <div class="col-6 spinner-wrapper">
            {{ form_row(form.street, {'attr' : {'class' : 'street country-data city-data'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.submit) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5>In firefox, use CTRL+F5 to prevent caching of selected values in inputs.</h5>
        </div>
    </div>

</div>
{{ form_end(form) }}
